.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	vertical-align: top;
	&-search {
		background-image: url('#{$image-path}icon-search.png');
		height: 26px;
		width: 42px;
	}
	&-video {
		background-image: url('#{$image-path}icon-video.png');
		height: 32px;
		width: 32px;
	}
	&-hire {
		background-image: url('#{$image-path}icon-hire.png');
		height: 30px;
		width: 41px;
	}
	&-search-sm {
		background-image: url('#{$image-path}icon-search-sm.png');
		height: 18px;
    width: 19px;
		left:0px;
    position: absolute;
	}
	&-info {
		background-image: url('#{$image-path}icon-info.png');
		height: 24px;
    width: 24px;
    position: absolute;
		top:12px;
		left:12px;
	}
	&-dots {
		background-image: url('#{$image-path}icon-dots.png');
		height: 16px;
    width: 4px;
    position: absolute;
		top: 0;
		right: 3px;
	}
	&-likes {
		background-image: url('#{$image-path}icon-likes.png');
		height: 16px;
		width: 18px;
		position: absolute;
	}
	&-watched {
		background-image: url('#{$image-path}icon-watched.png');
		height: 14px;
		width: 20px;
		position: absolute;
	}
	&-msgs {
		background-image: url('#{$image-path}icon-msgs.png');
		height: 15px;
		width: 22px;
		position: absolute;
	}
	&-call {
		background-image: url('#{$image-path}icon-call.png');
		height: 14px;
		width: 14px;
		position: absolute;
	}
	&-star-sm {
		background-image: url('#{$image-path}icon-star-sm.png');
		height: 13px;
		width: 12px;
		position: absolute;
		&.active{
			background-image: url('#{$image-path}icon-star-active-sm.png ')!important;
		}
	}
	&-minimize-cirle {
		background-image: url('#{$image-path}icon-minimize-cirle.png');
		height: 20px;
		width: 20px;
	}
	&-close-circle {
		background-image: url('#{$image-path}icon-close-circle.png');
		height: 20px;
		width: 20px;
	}
	&-arrow-left-md {
		background-image: url('#{$image-path}icon-arrow-left-md.png');
		height: 43px;
		width: 43px;
	  position: absolute;
	}
	&-arrow-right-md {
		background-image: url('#{$image-path}icon-arrow-right-md.png');
		height: 43px;
		width: 43px;
		position: absolute;
	}
	&-maximize {
		background-image: url('#{$image-path}icon-maximize.png');
		height: 12px;
		width: 18px;
		position: absolute;
	}
	&-like {
		background-image: url('#{$image-path}icon-like.png');
		height: 36px;
		width: 36px;
		position: absolute;
	}
	&-lock {
		background-image: url('#{$image-path}icon-lock.png');
		height: 36px;
		width: 36px;
		position: absolute;
	}
	&-download {
		background-image: url('#{$image-path}icon-download.png');
		height: 36px;
		width: 36px;
		position: absolute;
	}

}
.search-addon i{
	color: #848484;
	padding: 15px 10px 0 25px!important;
	font-size: 19px;
	z-index: 111;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 57px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
		left:0;
}
