/*button colors*/

.btn {
    &-big {
        height: 50px;
        width: 100%;
    }
    &-green {
      background-color: $green;
    }

}

.btn-category {
    height: 50px;
    background-color: $white;
    border-color:$white-1;
}

.btn {
    &-transparent {
        background: none;
        background-color: transparent;
        border: none;
    }
}
.icon-btn {

}
