html {
	position: relative;
    min-height: 100%;
}

body {
	font-size: $base-font-size; /* from style.css */
	font-family: $base-font-family;
	color:$dark-black;
	background: url(../images/bg.png) top left repeat, url(../images/bg.png) top left no-repeat;
	background-attachment: fixed;
	background-position: top left;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	background-size: auto, cover;
}
.footer {
	height: 48px;
	background: white;
	font-size: 12px;
  color: #353d40;
	position: absolute;
	bottom: 0;
	width: 100%;
	& p {
		margin-top: 18px;
		font-weight: bold;
	}
}
.full-page {
	height: 100%
}
.v-top {
	vertical-align: top;
}

.no-wrap {
  white-space: nowrap;
}

.strong {
	font-weight: bold;
}
.wrapper.search-page {
	height: 100%;
	min-height: 100%;
}
.text-left {
	text-align: left !important
}
.search-container-footer{
   right: 0;
   bottom: 0;
   left: 0;
   margin-top: 40px;
}
.header {
	height: 90px;
	position: relative;
	background: url(../images/header-bg.jpg);
	& .logo {
		height:87px;
		padding:0px;
		position: absolute;
		top:11px;
		left: 10px;
		& img {
			height: 100%;
		}
	}
}
.scrollbar {
	&::-webkit-scrollbar {
    width: 5px;
	}

	/* Track */
	&::-webkit-scrollbar-track {

	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 1px;
		border-radius: 1px;
		background: rgba(6, 6, 6, 0.21);

	}
	&::-webkit-scrollbar-thumb:window-inactive {

	}
}
/* modal */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
		width: 100%;
}
