.btn-secondary {
//    @extend .btn;
    border-color: $white-c5;
    color: $black;
    background-color: $white-c5;
    &:hover,&:focus {
      border-color: darken($white-c5, 10%);
      color: $black;
      background: darken($white-c5, 10%);
    }
}
.btn-primary {
//    @extend .btn ;
    border-color: $primary-color;
    color: $white;
    background-color: $primary-color;
    &:hover,&:focus {
      border-color: lighten($primary-color, 10%);
      background: lighten($primary-color, 10%);
    }
    &:active,&.active {
      border-color: darken($primary-color, 10%);
      background: darken($primary-color, 10%);
    }
}
a.btnprint {
    width: 41px;
    margin: 3px;
    height: 13px;
    float: right;
    overflow: hidden;
    border: none;
    cursor: pointer;
    outline: none;
    background: url(../images/btn-print.gif) 0 0 no-repeat;
}
.btnclose {
    margin: 15px 0 0 10px;
    display: block;
    overflow: hidden;
    height: 19px;
    width: 19px;
    float: right;
    border: none;
    cursor: pointer;
    outline: none;
    background: url(../images/btn-close.gif) 0 0 no-repeat;
}

.btn-city {
    width:50px;
    height: 50px;
    font-size: 25px;
    color: $white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    &:hover {
        color: $white;
    }
}
.inner-icon + .fa {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}

.btn-category {
    height: 50px;
    padding-top: 5px !important;
    width: 55px;
    background: #fff;
    border:1px solid #c5c5c5;
    border-left-color: #fff;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.22);
    border: none!important;
    &:hover,
    &:active {
      background: #fff !important;
      background-color: #fff!important;
      border-color: #c5c5c5;
      border:1px solid #c5c5c5;
      border-left-color: #c5c5c5;
    }
    & .fa {
      font-size: 20px;
      color: #757575;
    }
}
.btn-category:focus, .btn-category.focus {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.22);
}
.search-box:focus {
  padding-left: 58px !important;
  border: none;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.22) !important;
}
.open > .btn-category.dropdown-toggle:hover,
.open > .btn-category.dropdown-toggle:focus,
.open > .btn-category.dropdown-toggle{
  background-color: #fff !important;
  border-color: #006899!important;
  border-left-color: #006899;
}
/*circle button */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border: none;
  outline: none;
  &.btn-lg {
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 100px;
  }
  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: $white;
  }
}

.search-by-city{
  margin-left: -2px;
}
