/*colors*/

$green:              #4db6ac;
$white-1:            #e3e3e3;
$grey:               #848484;
$black-1:            #242424;
$black-2:            #212121;
$white:                   #fff;
$white-ddd:               #DDD;
$white-ccc:               #ccc;
$white-c5:                #c5c5c5;
$white-1:                #efefef;
$black:                   #000;
$dark-black:              #2A2A2A;
$primary-color:           #006899;
$dark-primary-color:      #023046;
$light-white:             #F3F7F9;
$light-white1:            #d5d5d5; /* used for input box */
$light-white2:            #d8d8d8; /* used for logo bottom border */
$light-blue:              #82c9ef;
$light-blue2:             #8BD3F5;
$dark-blue:               #00334e;
$purple:                  #650360; /* for page header */
$dark-red:                #990000; /* for text color */
$info-red:                #d9534f;
$dark-99:                 #999;  /* for help text below input boxes */
$dark-66:                 #666;  /* for help text below input boxes */
$light-pink:              #ffcccc; /* for error background */
$navy:                    #2c1262;

/* path */
$image-path:   '../images/';

/* ----typography */

/* fonts */
$base-font-family: 'Roboto';
$base-font-size: 12px;
/* font-size */
