<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Trainers Direvtory </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">

    <link rel='stylesheet' href='css/owl.carousel.css'>



    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right top-right-navigation">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                             Login
                             </a>
                        <div class="dropdown-menu form-login stop-propagation" role="menu">
                            <div class="form-header">
                                <h4>Login</h2>
                                  <a href="">Do you have an account?</a>
                              </div>
                              <div class="form-body material">
                                  <div class="form-group clearfix">
                                      <div class="pull-left margin-right-15">
                                          <i class="icon-user"></i>
                                      </div>
                                      <div class="pull-right">
                                          <label for="">User Name</label>
                                          <input type="email" class="form-control" id="" placeholder="Enter Your Email ID/ Mobile No" />
                                      </div>
                                  </div>
                                  <div class="form-group clearfix">
                                      <div class="pull-left margin-right-15">
                                          <i class="icon-password"></i>
                                      </div>
                                      <div class="pull-right">
                                          <label for="">Password</label>
                                          <input type="email" class="form-control" id="" placeholder="Enter Password" />
                                      </div>
                                  </div>
                                  <div class="form-group full-width clearfix ">
                                      <div class="checkbox stop-propagation pull-left">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1">
                                                Keep me logged in.
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary-blue pull-right">
                                             Login
                                        </button>
                                  </div>
                                  <div class="form-group full-width">
                                      <a href="" class="italic-text text-right font-12 font-blue">Forget your password?</a>
                                  </div>

                              </div>

                            </div>
                          </li>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                             register
                            </a>
                            <!-- Registration step 1 - generate OTP -->

                            <div class="dropdown-menu form-registration stop-propagation hide" role="menu">
                              <div class="form-header">
                                  <h4>Registration</h2>
                                  <a href="">Already have an account?</a>
                              </div>
                              <div class="form-body material">
                                  <div class="form-group clearfix">
                                      <div class="pull-left margin-right-15">
                                          <i class="icon-mobile"></i>
                                      </div>
                                      <div class="pull-right">
                                          <label for="">Mobile No.</label>
                                          <input type="email" class="form-control" id="" placeholder="Enter your mobile number" />
                                      </div>
                                  </div>
                                  <div class="form-group full-width clearfix ">
                                    <button type="submit" class="btn btn-primary-blue pull-right">
                                         Generate OTP
                                    </button>
                                  </div>
                                  <div class="form-group full-width">
                                      <a href="" class="italic-text font-11 text-left ">* You can find OTP in your registered mobile number, which is
valid for next 15:00 min.</a>
                                  </div>
                              </div>
                            </div>

                            <!-- ./ Registration step 1 - generate OTP -->

                            <!-- Registration step 2 - enter OTP and register-->

                            <div class="dropdown-menu form-registration stop-propagation" role="menu">
                              <div class="form-header">
                                  <h4>Registration</h2>
                                  <a href="">Already have an account?</a>
                              </div>
                              <div class="form-body material">
                                  <div class="form-group clearfix">
                                      <div class="pull-left margin-right-15">
                                          <i class="icon-mobile"></i>
                                      </div>
                                      <div class="pull-right">
                                          <label for="">Mobile No.</label>
                                          <input type="email" class="form-control" id="" placeholder="Enter your mobile number" />
                                      </div>
                                  </div>
                                  <div class="form-group clearfix">
                                      <div class="pull-left margin-right-15">
                                          <i class="icon-password"></i>
                                      </div>
                                      <div class="pull-right">
                                          <label for="">One Time Password</label>
                                          <input type="email" class="form-control" id="" placeholder="Enter 6 digit OTP" />
                                      </div>
                                  </div>
                                  <div class="form-group full-width clearfix ">
                                      <div class="pull-left margin-right-15">
                                          <i class="icon-mobile"></i>
                                      </div>
                                      <div class="pull-right">
                                          <label class="margin-bottom-10">I am</label>
                                          <div>
                                              <div class="radio radio-inline">
                                                  <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                                  <label for="inlineRadio1"> Student</label>
                                              </div>
                                              <div class="radio radio-inline">
                                                  <input type="radio" id="inlineRadio2" value="option1" name="radioInline" checked="">
                                                  <label for="inlineRadio2"> Trainer</label>
                                              </div>
                                              <div class="radio radio-inline">
                                                  <input type="radio" id="inlineRadio3" value="option1" name="radioInline" checked="">
                                                  <label for="inlineRadio3"> Institute</label>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group full-width clearfix ">
                                    <p class="pull-left font-10 otp-counter">
                                        00:18
                                    </p>
                                    <button type="submit" class="btn btn-primary-blue pull-right">
                                         Register
                                    </button>
                                    <button type="submit" disabled="disabled" class="btn btn-secondary pull-right margin-right-5">
                                         Resend
                                    </button>
                                  </div>
                                  <div class="form-group full-width">
                                      <p class="italic-text font-11 text-left ">
                                          * Please provide OTP to continue authentication. Press RESEND if you will not get OTP in next 30sec. Onclick of REGISTRATION
you will find registration page to build relationship with us.</p>
                                  </div>
                              </div>
                            </div>

                            <!-- ./ Registration step 2 - enter OTP and register -->
                          </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container search-container">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#registration-popup">
              open registration popup
            </button>
            <div class="row">
                <div class="">
                    <div class="text-center logo">
                        <img src="images/trainers-directory-logo.png">
                    </div>
                    <div class="col-md-12">
                        <div class="input-group" id="adv-search">
                            <!--search box-->
                            <div class="left-inner-addon search-addon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="text" class="form-control search-box" placeholder="Your learning needs" />
                            </div>

                            <!-- ./search box-->
                            <div class="input-group-btn">
                                <div class="btn-group" role="group">
                                    <div class="dropdown dropdown-lg">
                                        <button type="button" class="btn btn-default dropdown-toggle btn-category" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right card" role="menu">
                                            <!-- drop down tab form-->
                                            <form class="form-horizontal" role="form">

                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active">
                                                        <a href="#educational" aria-controls="home" role="tab" data-toggle="tab">Educational</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#fitness" aria-controls="profile" role="tab" data-toggle="tab">Fitness</a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#hobby" aria-controls="messages" role="tab" data-toggle="tab">Hobby</a>
                                                    </li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content clearfix">
                                                    <div role="tabpanel" class="tab-pane clearfix active" id="educational">
                                                        <div class="sub-category-box">
                                                            <p class="sub-category-title">Languages</p>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">English</a>
                                                                    </li>
                                                                    <li><a href="">German</a>
                                                                    </li>
                                                                    <li><a href="">French</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Chinese</a>
                                                                    </li>
                                                                    <li><a href="">Japanese</a>
                                                                    </li>
                                                                    <li><a href="">Spanish</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Hindi</a>
                                                                    </li>
                                                                    <li><a href="">Marathi</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="sub-category-box">
                                                            <p class="sub-category-title">Academic</p>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Mathematics</a>
                                                                    </li>
                                                                    <li><a href="">Science</a>
                                                                    </li>
                                                                    <li><a href="">History</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Geography</a>
                                                                    </li>
                                                                    <li><a href="">Engineering</a>
                                                                    </li>
                                                                    <li><a href="">Commerce</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="sub-category-box">
                                                            <p class="sub-category-title">Test Preparation</p>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">UPSC</a>
                                                                    </li>
                                                                    <li><a href="">IELTS</a>
                                                                    </li>
                                                                    <li><a href="">GRE</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">TOFFEL</a>
                                                                    </li>
                                                                    <li><a href="">MCAT</a>
                                                                    </li>
                                                                    <li><a href="">MSCIT</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div role="tabpanel" class="tab-pane clearfix" id="fitness">
                                                        <div class="sub-category-box">
                                                            <p class="sub-category-title">Languages</p>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">English</a>
                                                                    </li>
                                                                    <li><a href="">German</a>
                                                                    </li>
                                                                    <li><a href="">French</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Chinese</a>
                                                                    </li>
                                                                    <li><a href="">Japanese</a>
                                                                    </li>
                                                                    <li><a href="">Spanish</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Hindi</a>
                                                                    </li>
                                                                    <li><a href="">Marathi</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="sub-category-box">
                                                            <p class="sub-category-title">Academic</p>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Mathematics</a>
                                                                    </li>
                                                                    <li><a href="">Science</a>
                                                                    </li>
                                                                    <li><a href="">History</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Geography</a>
                                                                    </li>
                                                                    <li><a href="">Engineering</a>
                                                                    </li>
                                                                    <li><a href="">Commerce</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane clearfix" id="hobby">
                                                        <div class="sub-category-box">
                                                            <p class="sub-category-title">Languages</p>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">English</a>
                                                                    </li>
                                                                    <li><a href="">German</a>
                                                                    </li>
                                                                    <li><a href="">French</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Chinese</a>
                                                                    </li>
                                                                    <li><a href="">Japanese</a>
                                                                    </li>
                                                                    <li><a href="">Spanish</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">Hindi</a>
                                                                    </li>
                                                                    <li><a href="">Marathi</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="sub-category-box">
                                                            <p class="sub-category-title">Test Preparation</p>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">UPSC</a>
                                                                    </li>
                                                                    <li><a href="">IELTS</a>
                                                                    </li>
                                                                    <li><a href="">GRE</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="sub-category">
                                                                <ul>
                                                                    <li><a href="">TOFFEL</a>
                                                                    </li>
                                                                    <li><a href="">MCAT</a>
                                                                    </li>
                                                                    <li><a href="">MSCIT</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--tab container end-->
                                            </form>
                                            <!-- / drop down tab form-->
                                        </div>
                                    </div>
                                    <!--search by city-->
                                    <div class="form-group col-md-2 search-by-city">
                                        <div class="dropdown dropdown-md">
                                            <!--search by city button-->
                                            <button type="button" class="btn btn-green btn-city dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-map-marker"></i>
                                            </button>
                                            <!-- / search by city button-->
                                            <!--search by city container-->
                                            <div class="dropdown-menu dropdown-menu-right search-by-city-container material" role="menu">

                                                <form>
                                                    <div class="form-group clearfix col-sm-12 padding-0">
                                                        <label for="input" class="control-label font-10 font-blue">Enter Your City</label>
                                                        <input type="text" class="form-control" required="required" placeholder="Enter Your City" />
                                                    </div>
                                                </form>
                                                <div class="note-box clearfix">
                                                    <p><span class="font-dark">Example : </span>Mumbai, Pune, Bangalore, Delhi,Chennai, Kolkata, Hyderabad etc.</p>
                                                </div>
                                            </div>
                                            <!-- / search by city container-->
                                        </div>
                                    </div>
                                    <!-- / search by city-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--bottom marketing links-->
                    <div class="marketing">
                        <ul class="clearfix">
                            <li>
                                <button type="button" class="btn btn-default btn-circle btn-lg disabled">
                                    <i class="icon icon-search"></i>
                                </button>
                                <p>Search Trainers</p>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default btn-circle btn-lg disabled">
                                    <i class="icon icon-video"></i>
                                </button>
                                <p>Watch Videos</p>
                            </li>
                            <li>
                                <button type="button" class="btn btn-default btn-circle btn-lg disabled">
                                    <i class="icon icon-hire"></i>
                                </button>
                                <p>Hire Them!</p>
                            </li>
                        </ul>

                    </div>
                    <!-- / bottom marketing links-->
                </div>
            </div>
        </div>

    <!-- footer -->
    <div class="footer search-container-footer">
        <div class="container">
            <ul class="nav navbar-links navbar-left bottom-navigation-left pull-left">
                <li><a href="#">About Us</a>
                </li>
                <li><a href="#">Sitemap</a>
                </li>
                <li><a href="#">Terms &amp; Conditions</a>
                </li>
                <li><a href="#">Ads</a>
                </li>
            </ul>
            <div class="pull-right">
                <p class="text-right">© 2016 Trainers Directory</p>
            </div>
        </div>
        <a href="" class="more-info">
            <i class="icon-info" aria-hidden="true"></i>
        </a>
    </div>
    <!-- ./ footer -->

    <!-- registration popup--><!-- Modal -->

        <div class="modal fade bs-example-modal-lg registration-popup" tabindex="-1" role="dialog" id="registration-popup" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-xl">
                <div class="modal-content">
                    <div class="modal-header">

                        <h3 class="modal-title pull-left">Register Yourself <span class="font-14">(As a Student)</span></h3>
                        <div class="pull-right font-12 margin-top-10">
                            * All fields are Mandatory
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid padding-top-20">
                            <div class="row">
                                <!-- upload file -->
                                <div class="col-md-6">
                                    <div class="upload-details">
                                        <div class="clearfix full-width">
                                            <div class="pull-left upload-trainer-photo">
                                                <div class="trainer-profile-pic">
                                                    <img alt="Profile Picture" class="rounded" id="image-1" src="images/default-user.png">
                                                </div>
                                                <span class="btn default btn-file">
                                                    <span class="fileinput-new">
                                                        Upload Photo
                                                    </span>
                                                    <input type="file" class="textbox fileupload fileInput btn-transparent" name="files" id="fileupload">
                                                </span>
                                            </div>
                                            <div class="pull-left upload-trainer-video">
                                                <div class="trainer-profile-pic">
                                                    <img alt="Profile Picture" class="rounded" id="image-1" src="images/upload-video.png">
                                                </div>
                                                <span class="btn default btn-file">
                                                    <span class="fileinput-new">
                                                        Upload Video
                                                    </span>
                                                    <input type="file" class="textbox fileupload btn-transparent" name="video" id="videoupload">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="trainer-map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15134.631734819093!2d73.84777595!3d18.4991473!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1472983198842"

                                            width="100%" height="168" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./ upload file -->
                                <!-- registration form-->
                                <div class="col-md-6 material">
                                    <form class="stop-propagation registration-form">
                                        <div class="row">
                            				<div class="col-xs-6 col-sm-6 col-md-6">
                            					<div class="form-group">
                                                    <label for="input" class="control-label font-12 font-blue">First Name *</label>
                                                    <input type="text" class="form-control" required="required" placeholder="Your First Name">
                            					</div>
                            				</div>
                            				<div class="col-xs-6 col-sm-6 col-md-6">
                            					<div class="form-group">
                                                    <label for="input" class="control-label font-12 font-blue">Last Name *</label>
                                                    <input type="text" class="form-control" required="required" placeholder="Your Last Name">
                            					</div>
                            				</div>
                            			</div>
                                        <div class="form-group">
                                            <label for="input" class="control-label font-12 font-blue">Email ID *</label>
                            				<input type="text" name="" id="" class="form-control input-lg" placeholder="Enter Your Email ID" tabindex="3">
                            			</div>
                                        <div class="row">
                            				<div class="col-xs-6 col-sm-6 col-md-6">
                            					<div class="form-group">
                                                    <label for="input" class="control-label font-12 font-blue">Password *</label>
                                                    <input type="password" class="form-control" required="required" placeholder="Enter Password">
                            					</div>
                            				</div>
                            				<div class="col-xs-6 col-sm-6 col-md-6">
                            					<div class="form-group">
                                                    <label for="input" class="control-label font-12 font-blue">Confirm Password  *</label>
                                                    <input type="password" class="form-control" required="required" placeholder="Enter Password">
                            					</div>
                            				</div>
                            			</div>
                                        <div class="row">
                            				<div class="col-xs-6 col-sm-6 col-md-6">
                            					<div class="form-group">
                                                    <label for="input" class="control-label font-12 font-blue">Enter City *</label>
                                                    <input type="text" class="form-control" required="required" placeholder="Enter Your City">
                            					</div>
                            				</div>
                            				<div class="col-xs-6 col-sm-6 col-md-6">
                            					<div class="form-group">
                                                    <label for="input" class="control-label font-12 font-blue">Enter Pincode/ Areacode *</label>
                                                    <input type="text" class="form-control" required="required" placeholder="Enter Your City">
                            					</div>
                            				</div>
                            			</div>
                                        <div class="form-group">
                                            <label for="input" class="control-label font-12 font-blue">About User</label>
                            				<input type="text" name="" id="" class="form-control input-lg" placeholder="Description (Max 1000 character)" tabindex="3">
                            			</div>
                                        <div class="form-group full-width clearfix ">
                                            <div class="checkbox pull-left">
                                                <input id="checkbox3" type="checkbox">
                                                <label for="checkbox3">
                                                    I agree to your terms and conditions
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-primary-blue pull-right">
                                                 Submit
                                            </button>
                                            <button type="submit" class="btn btn-secondary pull-right margin-right-5">
                                                 Cancel
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- ./ registration form-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="full-width promotional-space border-top-1 margin-top-20">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- ./registration popup-->
    <!-- script references !-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <script src="js/script.js"></script>

    <script src='js/owl.carousel.js'></script>
    <script src='js/owl.custom.js'></script>
</body>

</html>
